
p{
    font-family: sans-serif;
    font-size: 120%;
margin-right: 35%;
}
a{
    color: #0033CC;
}
span{
    font-size: 125%;
}
li{
    font-family: sans-serif;
    font-size: 120%;   
}
body{
    background-color:#CCCCCC;
    position: absolute;
}
#container{
position: absolute;
right: 5px;
top: 250px;

}
ul{
    margin-right: 35%; 
margin-bottom: 50px; ;
}